/*Set background color to twitter blue  and let feed div be a box with a border color of white*/
.container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #4099ff;
}
h1{
	color:white;
}
#feed * {
	color:white;
}